<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show user</title>
</head>
<body>
<table>
    <tbody>
    <th:block th:object="${user}">
        <form th:method="POST" th:action="@{/{id}(id=${user.getId()})}">
            <tr>
                <td><th><p align="center">ID</p></th></td>
                <td th:text="*{id}" id="idDelete" align="center" readonly></td>
            </tr>
            <tr>
                <td><th><p align="center">Name</p></th></td>
                <td th:text="*{name}" id="nameDelete" align="center"></td>
            </tr>
            <tr>
                <td><th><p align="center">Surname</p></th></td>
                <td th:text="*{surname}" id="surnameDelete" align="center"></td>
            </tr>
            <tr>
                <td><th><p align="center">Address</p></th></td>
                <td th:text="*{address}" id="addressDelete" align="center"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Delete user"></td>
            </tr>
        </form>
    </th:block>
    </tbody>
</table>
</body>
</html>
